---
layout: page
title: Comitato organizzatore
---

<div class="row">
	{% for item in site.data.organizzatori %}
	{% if item.double != nihil %}
	<div class="col m6">
	{% else %}
	<div class="col m3">
	{% endif %}
	 <div class="card horizontal">
		 <div class="card-image">
			 <img src="{{ site.url }}/{{ item.img }}">
		 </div>
		 <div class="card-stacked">
			 <div class="card-content">
				 <p style="color:{{site.data.generic.color1}}">{{ item.nome }}</p>
				 <span>{{ item.studio }}</span>
		 			<br>
					<span>{{ item.uni }}</span>
					<br>
		 			<span><i>{{ item.ruolo }}</i></span>
			 </div>
			 <!-- <div class="card-action">
				 <a href="#">This is a link</a>
			 </div> -->
		 </div>
	 </div>
 </div>
 {% endfor %}
</div>
