---
layout: page
title: Strutture
---

{{site.data.strutture.intro}}

<h2>Centri di ricerca e aziende</h2>
<div class="section">
  {% for item in site.data.strutture.pavia %}
   {% assign col = forloop.index0 | modulo:2 %}
    {% if col == 0 %}
      <div class="row">
    {% endif %}

	{% if item.double != nihil %}
		<div class="col s12 m12">
		{% else %}
		<div class="col s12 m6">
		{% endif %}
        <div class="card" id='{{item.id}}'>
		{% if item.img != nihil %}
          <div class="card-image">
      <!--    <div class="slider">
              <ul class="slides">
                {% for item2 in item.slideshow %}
                <li>
                  <img src="{{ site.url}}/{{ item2.slide }}">
                </li>
                {% endfor %}
              </ul>
            </div> -->
             <img src="{{ site.url}}/img/strutture/{{ item.img }}">
          </div>
		{% endif %}
          <div class="card-content">
    	       <span class="card-title grey-text text-darken-4">{{ item.title }}</span>
    	       <p style='text-align:justify'>{{ item.descr }}</p>
          </div>
        	<div class="card-action">
        	  <a href="{{ item.site }}" target="_blank">Website</a>
        	  <a href="{{ item.map }}" target="_blank">Map</a>
        	</div>
        </div>
      </div>
   {% if col == 1 %}
    </div>
    {% endif %}
  {% endfor %}
</div>


<h2>Alloggio</h2>
<p>I partecipanti con alloggio (vedi pagina <a href='../programma'>Programma</a> per informazioni sulle diverse quote) soggiorneranno nelle 4 notti dell'evento presso il Pavia Ostello oppure il UniHo. Pavia Ostello è situato a poche fermate di autobus e UniHo è a pochi minuti a piedi dal Dipartimento di Fisica UniPv, dove avranno luogo gran parte delle attività.</p>

<p>Gli ostelli sono dotati di una rete Wi-Fi a disposizione dei partecipanti della CISF.</p>

<div class="row">

  <div class="col s12 m6">
    <div class="card" id="alloggio">
      <div class="card-image" >
        <img src="{{site.url}}/img/strutture/pavia_ostello.jpg">
        <span class="card-title"> <b>Pavia Ostello</b></span>
      </div>
      <div class="card-content">
	        <p style='text-align:justify'></p>
      </div>
      <div class="card-action">
        <a href="http://www.paviaostello.it/" target="_blank">Website</a>
        <a href="https://goo.gl/maps/i7cNR9xJuy9DoxpD8" target="_blank">Map</a>
      </div>
    </div>
  </div>

  <div class="col s12 m6">
    <div class="card" id="alloggio">
      <div class="card-image" >
        <img src="{{site.url}}/img/strutture/uniho.jpg">
        <span class="card-title"> <b>UniHo</b></span>
      </div>
      <div class="card-content">
	        <p style='text-align:justify'></p>
      </div>
      <div class="card-action">
        <a href="https://www.uniho.it/" target="_blank">Website</a>
        <a href="https://g.page/uniho-pavia?share" target="_blank">Map</a>
      </div>
    </div>
  </div>
